@import "bootstrap.less";
@import "responsive.less";

@media (min-width: 1200px) {
  body {
    padding-top: 60px;
  }
}
.navbar .brand {
  padding-top:4px;
}
.masthead p {
  text-align: center;
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}
.masthead img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.fork-me img{
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index:1031;
}
.label a, .label a:hover {
  color: @white;
  text-decoration:none;
}

.map {
  position: relative;
}

.layer {
  position: absolute;
}