!= "<script info='load_data'>"
	!= "var tiles = ["+maps.length+"];"
	!= "var tilesets = ["+maps.length+"];"
	!= "var layer_size = ["+maps.length+"];"
	!= "var pxl_width = "+maps[0].pxl_width+";"
	!= "var pxl_height = "+maps[0].pxl_height+";"

	!= "var tilewidth = ["+maps.length+"];"
	!= "var tileheight = ["+maps.length+"];"
	each map,i in maps
		!= "tilewidth["+i+"] = "+map.tilewidth+";"
		!= "tileheight["+i+"] = "+map.tileheight+";"

		!= "layer_size["+i+"] = ["+map.layer_size+"];"
		!= "tiles["+i+"] = "+map.tiles+";"
		!= "tilesets["+i+"] = ["+map.tilesets.length+"];"
		!= "for(var t=0; t<"+map.tilesets.length+"; t++) {"
			!= "tilesets["+i+"][t] = new Image();"
			!= "tilesets["+i+"][t].src = '/tilesetid/'+t;"
		!= "}"
!= "</script>"
script(src="/javascripts/canvas.js")
!= "<script info='run_draw_functions'>"
	!= "var canvas = {};"
	!= "function draw() {"
		each map,i in maps
			!= "canvas = loadCanvas("+map.area_l+");"
			- if (typeof(area_x) === "undefined")
				!= "drawTiles("+i+", "+map.area_l+", "+map.area_x+", "+map.area_y+");"
			- else //its a tumbnail
				
	!= "}"
	!= "draw();"
	//- run draw after back-button
	!= "window.onunload = function(){};"
!= "</script>"